### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Collect a list of columns
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
player_count = purchase_data_df["SN"].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Create unique_items and find find length of list by using len function.
unique_items_df = len(purchase_data_df["Item ID"].unique())
unique_items_df

179

In [5]:
# Sum total revenue and round to 2 decimal points
total_revenue = purchase_data_df["Price"].sum()
(round(total_revenue, 2))

2379.77

In [6]:
#sum average price and round to 2 decimal points
average_price = purchase_data_df["Price"].mean()
(round(average_price, 2))

3.05

In [7]:
max_price = purchase_data_df["Price"].max() 
max_price

4.99

In [8]:
# Display Summary Data Frame of unique results
raw_summary_items = [{'unique items': unique_items_df,
               'average price': (round(average_price, 2)),
               'max price': (round(max_price, 2)),
                'total revenue': (round(total_revenue, 2))}]
summary_df = pd.DataFrame(raw_summary_items, columns=['unique items', 'average price', 'max price', 'total revenue'])
summary_df

   unique items  average price  max price  total revenue
0           179           3.05       4.99        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# count the number of "gender" submittals - does not tak into condsideration duplicte entries
count = purchase_data_df["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
# find number of gender types provided in data frame usin unique & len functions
total_number_of_genders = len(purchase_data_df["Gender"].unique())
total_number_of_genders

3

In [11]:
# create gender demographis dataframe using groupby.gender
gender_type_count = purchase_data_df.groupby("Gender")
gender_type_count.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89

In [12]:
# count the number of different SNs by gender type submitted (SN duplicates removed)
total_count_of_SN = gender_type_count.nunique()['SN']
total_count_of_SN

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [77]:
# find percentage of players by gender type - divide SN by total player count ####note that percentage does not add up - 
# need to investigate further
percentage_of_players = (round(total_count_of_SN / player_count * 100, 2))
percentage_of_players

Gender
Female                   10.38
Male                     62.05
Other / Non-Disclosed     1.41
Name: SN, dtype: float64

In [14]:
# create the gender demographics dataframe to show the percentage and count of male, female and other genders
gender_demographics = pd.DataFrame({"percentage of players": percentage_of_players, "total count": total_count_of_SN})
gender_demographics

                       percentage of players  total count
Gender
Female                              0.103846           81
Male                                0.620513          484
Other / Non-Disclosed               0.014103           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# count the total purchases by the groupby.gender_type_count
total_purchases_count = gender_type_count["Purchase ID"].count()
total_purchases_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [27]:
# find the average purchase price by gender - round to 2 decimal points
average_purchase_price = (round(gender_type_count["Price"].mean(),2))
average_purchase_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [29]:
# find the purchase total by gender - round to 2 decimal points
gender_purchase_total = (round(gender_type_count["Price"].sum(), 2))
gender_purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [38]:
# find the average purchase total by person (gender) - round to 2 decimal points
average_gender_person_total = (round(gender_purchase_total/total_purchases_count, 2))
average_gender_person_total

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [41]:
# create gender Purchase Analysis DataFrame
gender_purchase_analysis = pd.DataFrame({"purchase count": total_purchases_count,
                                       "average purchase price": average_purchase_price,
                                       "total purchase value": gender_purchase_total,
                                       "average purchase total per person by gender": average_gender_person_total})
gender_purchase_analysis

,purchase count,average purchase price,total purchase value,average purchase total per person by gender
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [49]:
# Age Array - confirm age length
Age_unique_value = purchase_data_df["Age"].unique()
Age_unique_value

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

In [52]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc. Create the bins in which Data will be held
bins_for_ages = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

In [56]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins_for_ages, labels=group_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [74]:
# use grouby to create new data frame using new column age group
age_group_stats = purchase_data_df.groupby("Age Group")
# Calculate the player numbers
player_count_age = age_group_stats["SN"].nunique()
# Calculate the percentages by age group
age_group_percentages = (round((player_count_age/player_count) * 100, 2))
age_group_percentages

Age Group
<10       2.18
10-14     2.82
15-19    13.72
20-24    33.08
25-29     9.87
30-34     6.67
35-39     3.97
40-44     1.41
45-49     0.13
Name: SN, dtype: float64

In [79]:
# Create a summary data frame to hold the results
age_demographics = pd.DataFrame({"count of players": player_count_age,
                                "percentage of players": age_group_percentages})
age_demographics

           count of players  percentage of players
Age Group
<10                      17                   2.18
10-14                    22                   2.82
15-19                   107                  13.72
20-24                   258                  33.08
25-29                    77                   9.87
30-34                    52                   6.67
35-39                    31                   3.97
40-44                    11                   1.41
45-49                     1                   0.13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
age_group_purchase_count = purchase_data_df.groupby("Age Group")["Purchase ID"].count()
age_group_purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
45-49      1
Name: Purchase ID, dtype: int64

In [93]:
age_group_average_purchase_price = (round(purchase_data_df.groupby("Age Group")["Price"].mean(), 2))
age_group_average_purchase_price

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40-44    3.04
45-49    1.70
Name: Price, dtype: float64

In [94]:
age_group_total_purchase_price = purchase_data_df.groupby("Age Group")["Price"].sum()
age_group_total_purchase_price

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40-44      36.54
45-49       1.70
Name: Price, dtype: float64

In [95]:
# Average Purchase Total per Person by Age Group
average_purchase_total_per_person = (round(age_group_total_purchase_price/age_group_purchase_count, 2))
average_purchase_total_per_person

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40-44    3.04
45-49    1.70
dtype: float64

In [100]:
purchase_analysis_df = pd.DataFrame({"Purchase Count": age_group_purchase_count,
                                    "Average Purchase Price": age_group_average_purchase_price,
                                    "Total Purchase Price": age_group_total_purchase_price,
                                    "Average Purchase per Person": average_purchase_total_per_person})
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Purchase per Person
Age Group,,,,
<10,23,3.35,77.13,3.35
10-14,28,2.96,82.78,2.96
15-19,136,3.04,412.89,3.04
20-24,365,3.05,1114.06,3.05
25-29,101,2.90,293.00,2.90
30-34,73,2.93,214.00,2.93
35-39,41,3.60,147.67,3.60
40-44,12,3.04,36.54,3.04
45-49,1,1.70,1.70,1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame